{% extends 'base.html' %}
{% block content %}
<h1>Add Model</h1>
<form action="/collect_form" method="post" class="mb-3">
  <div class="mb-2">
    <label class="form-label">Toy Number</label>
    <input class="form-control" name="toy_number" required>
  </div>
  <div class="mb-2">
    <label class="form-label">Quantity</label>
    <input class="form-control" type="number" name="quantity" value="1" min="1">
  </div>
  <button class="btn btn-success">Add</button>
</form>
<h2>Bulk Add</h2>
<form action="/collect_bulk" method="post">
  <div class="mb-2">
    <textarea name="text" rows="5" class="form-control" placeholder="2x HYW18, HYW19, x3 HTD77"></textarea>
  </div>
  <button class="btn btn-success">Import</button>
</form>
{% endblock %}
